<div class="section">
  <h1 class="title has-text-centered">List of pokemons</h1>
  <div class="block">
    <div class="field is-grouped is-justify-content-space-between">
      <div class="control">
        <input
          class="input"
          type="text"
          [formControl]="filter"
          placeholder="Search by name or id"
        />
      </div>

      <div class="select">
        <select [(ngModel)]="sortingType" (ngModelChange)="onSort()">
          <option value="" selected>Sorting options</option>
          <option value="1">A to Z</option>
          <option value="2">Z to A</option>
        </select>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-multiline">
      <div
        *ngFor="let item of pokemons"
        class="column is-4-tablet is-3-desktop"
      >
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img
                src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/{{
                  getPokemonId(item.url)
                }}.png"
                alt="Card image cap"
              />
            </figure>
          </div>

          <div class="card-content">
            <h5 class="title">
              {{ item.name }}
              <span class="subtitle has-text-grey"
                >#{{ getPokemonId(item.url) }}</span
              >
            </h5>

            <a [routerLink]="['/pokemons', item.name]" class="btn btn-primary"
              >Detail</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="control has-text-centered mt-3">
    <button
      *ngIf="hideLoadMore"
      class="button is-large is-primary"
      (click)="loadMore()"
    >
      Load more
    </button>
  </div>
</div>
